pyyaml
nbformat
ipython
nbconvert
setuptools
numpy
otter-grader @ git+https://github.com/ucbds-infra/otter-grader.git@beta

# testing requirements
codecov

# documentation requirements
recommonmark
sphinx_markdown_tables
sphinx-book-theme @ git+https://github.com/executablebookproject/sphinx-book-theme.git@35357b09fa4b3bc70259109d19ef795badbcd5b8
sphinxcontrib-apidoc
sphinx-argparse