{% if student_name %}Hello {{ student_name }},{% else %}Hello,{% endif %}

Please find your exam attached. You can download this attachment and upload it to JupyterHub or use a local distribution of Jupyter Notebook to work on the exam.

If you have any issues, please contact the instructors.